.env
__pycache__/
*.pyc
.idea/
.vscode/
build/
dist/
*.egg-info/
push_error.txt
push_error_full.txt
last_push_full.txt
file_sizes.csv
remote_files.txt
local_files.txt
push_output.txt
full_push_log.txt
